{% extends 'base.html' %}      {# фрагмент кода который вставляеться в base.html(между{% block content %} и  {% endblock content %}  #}
{% load static %}              <!--загрузить паку static(load-агрузить)-->


{% block content %}            {# начало блока контент #}
 <div class="container">         {# Он имеет строго определённую ширину для определённого типа устройств. Т.е. для одного устройства контейнер имеет одну ширину, для другого устройства - другое значение ширины. Bootstrap требует этот элемент для row(обязательный)тип устройства задаеться ниже у нас lg-компьютер #}

        <div class="row">        {#1 ряд в строке  в бутстрепе этозадаетьсясетка описанная ниже #}

            <div class="col-lg-6">   {# ряд или ячейка будет сосаять 6 столбцов из 12 #}

                {% for image_item in news.newsimage_set.all %}     {# product.productimage_set.all(product-ссылка на текуший продукт productimage-название модели МАЛЕНЬКИМИ БУКВАМИ,_set.all(вывод всех картинок) #}

                    <div class="product-image-item">  {# описан в stylt.css #}

                        <img  src="{{ image_item.image.url }}" class="img-responsive" >   {# сылка на кртинку #}

                   </div>

                {% endfor %}

            </div>

            <div class="col-lg-6">      {# 2 ряд в строке-ряд или ячейка будет сосаять 6 столбцов из 12 #}

                <h1 class="text-center">  {# свойство bootstrap при которором тект выраниваеться по центрув что применимо  токо  к этому заголовку #}

                   {{ news.name }}  {# вывод имени  #}


                </h1>

{#                <div class="">#}
{##}
{#                   <p>#}
{##}
{#                     Цена: {{ product.price }} руб. {# вывод цены #}
{##}
{#                    </p>#}
{##}
{#                </div>#}

               <div class="">
<div>
  {# вставляем навигационную панель из bootstrap #}
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#description" aria-controls="home" role="tab" data-toggle="tab"> {# "#description"-сылка на id описаноое ниже в   <!-- Tab panes --> #}
            Описание
        </a></li>


  </ul>

  <!-- Tab panes -->
  <div class="tab-content product-description">
    <div role="tabpanel" class="tab-pane active" id="description">
        {{ news.description }}   {# вывод атрибута description класса Product #}
    </div>


  </div>
{#    <form id="form_buying_product" class=" form-inline" action="{% url 'basket_adding' %}"> {% csrf_token %}   {# добовляем форму form-inline form-inline(в бутстрепе форма всеэлементы формы будут расположены в одну строку action="{% url 'basket_adding' %}-при нажати кнопки куппить сслка на значение функции basket_adding описанной в order/views  {% csrf_token %}-нужен чтобы не делать пост запросы со сторнних сайтов#}
{#        <input type="number" class="form-control" name="number" id="number" value="1" style="width: 50px">  {# поле ввода со стрелочками для чисел  form-control(bootstrap-чтобы установить им ширину, равную 100% (всю доступную ширину родительского элемента).) #}
{##}
{#    <button type="submit"  id="submit_btn" class="btn btn-success btn-buy"        {# type="submit"(кнопка для отправки данных на сервер) btn btn-success(оформление bootstrap) btn-buy-описан в style.css #}
{#            data-product_id = "{{ news.id }}"   {# data-это атрибут универсальный для всех тегов с изменяюшимися значениями здесь задаем data-product_id(который будет меняться от значения по перемменой  product.id, #}
{#            data-name="{{ news.name }}"    {# data-это атрибут универсальный для всех тегов с изменяюшимися значениями здесь задаем data-name(который будет  меняться от значения по перемменой  product.name#}
{#            data-price="{{ news.price }}"  {# аналогично строчке выше #}
{#           >#}
{#        В корзину#}
{#    </button>#}
{#         </form>#}

</div>
</div>

{% endblock %}