


html,body{

    height: 100%;    /*высота элемена*/
    max-height: 100%;  /*максимальная высота элемена*/
    font-family: 'Roboto', sans-serif;/*скопированный с гугла стиль текта*/

}

.top-container{
    padding-top: 10%; /* Устанавливает значение поля от верхнего края содержимого элемента.*/

}

.general-container{
  background: url(images/background.jpg) ;  /* устанавливает фон */

   height: 100%; /* высота элемена */
}
.general-container form{
    margin-top: 30px;   /* Устанавливает величину отступа от верхнего края элемента */
    align-items: center;  /* Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении. */

}
.label{
    font-family: 'Roboto', sans-serif; /*скопированный с гугла стиль текта*/
    font-size: 20px;      /* Определяет размер шрифта элемента.*/

}
.title{
   /* text-align: center; выравнвание текста*/
    color: white; /*цвет текта*/
    font-weight: 100; /*насышеность текта тоесть насколько тостый*/
    line-height: 50px; /*межстросчный интервал текста*/
}