
html,body{

    height: 100%;    /*высота элемена*/
    max-height: 100%;  /*максимальная высота элемена*/
    font-family: 'Roboto', sans-serif;/*скопированный с гугла стиль текта*/
    background-color: #edeef0; /* цвет фона серый*/

}
/*.section-top{*/
    /*margin: 20px;*/
/*}*/
.product-item{           /*стиль контейнера где выводиться картинак имя товара цена и кнопка*/
    height: 300px;          /*высота контейнера в пикселях*/

    background-color: white;    /*цвет фона*/
    border: 1px solid lightgrey;   /*граница элемента величина стиль цвет*/
    position: relative;       /*позиция -relative-Положение элемента устанавливается относительно его исходного места.*/
    padding: 10px 10px 10px 10px;           /*отступ содержимого от края элемента*/
    margin: 20px ;
    text-align: center;         /*выравнивание текста*/
}


.wrapper-content{  /*перевод контент оберки*/
    overflow: auto; /*если контент будет вылазить за рамки будет автоматически добовляться полоса прокрутки*/
    padding-bottom: 180px; /*расстояние от внутреннего края рамки элемента до воображаемого прямоугольника, ограничивающего его содержимое тоесть тоеть растояние от низа 180пикселей*/
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
   /* position: absolute; *//*Положение элемента устанавливается относительно его исходного места */
    /*margin-bottom: 1px; *//* Устанавливает величину отступа от верхнего края элемента. Отступом является расстояние от внешнего края верхней границы текущего элемента до внутренней границы его родительского элемента */
    /*height: 80px;   *//*высота элемпента*/
     /*width: 100%;*/
    /*clear: both;   *//*нельзя обтекать элемнрт  и слевого и прввого края*/
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border: 1px solid transparent;
/*}*/
}
.product-description{
    padding: 10px;
}
.product-image-item{
    padding: 5px;
    margin-bottom: 5px;
}

.basket-container{           /*контейнер куда заключено слово корзина и ссылка на крзину*/
    position: relative;      /*Положение элемента устанавливается относительно его исходного места */
    top:17px;                /*отступ сверху 17 пикселей*/


}

.basket-items{              /*контейнер куда заключеносодержание корзины*/
    position: absolute;     /*позиция absolute-тоесть положение задаеться от элемента предка в данном примере basket-container ниже элементы задают положение*/
    top:33px;                /*отступ сверху 33 пикселей*/
    right:1px;               /*отступ  справо от корзины 1 пиксель*/
    width: 450px;             /*ширина элемента 200%*/
    background-color: #f8f8f8;   /*цвет фона серый такойже как у нав бара*/
    z-index: 10;    /*наложение элемента на другой*/
    padding: 10px;  /*растояние вокруг содержимого элемента 10 пикселей*/
}



.form-error{
    color: red;
}
#bt{
    margin-left:41px;
}