{% extends 'base.html' %}      {# фрагмент кода который вставляеться в base.html(между{% block content %} и  {% endblock content %}  #}
{% load static %}              <!--загрузить паку static(load-агрузить)-->


{% block content %}            {# начало блока контент #}
    <div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">         {# Он имеет строго определённую ширину для определённого типа устройств. Т.е. для одного устройства контейнер имеет одну ширину, для другого устройства - другое значение ширины. Bootstrap требует этот элемент для row(обязательный)тип устройства задаеться ниже у нас lg-компьютер #}

        <div class="row">        {#1 ряд в строке  в бутстрепе этозадаетьсясетка описанная ниже #}

            <div class="col-lg-8">   {# ряд или ячейка будет сосаять 6 столбцов из 12 #}



<p><h1>Оплата</h1></p>


<p style="color: red" >Мы принимаем оплаты картами!</p>

<h1>Юридические лица:</h1>
<ul>
    <li>оплата производится по выставленному счету;</li>
    <li>для выставления счета и оформления бухгалтерских документов необходимо предоставить полные реквизиты Вашей организации;</li>
    <li>отгрузка оборудования осуществляется по доверенности, либо при наличии печати.</li>
</ul>




<h1>Физические лица:</h1>

<li>оплата картами через Яндекс Кассу. К оплате принимаются банковские карты основных платёжных систем, Яндекс Деньги и другие. Счёт выставляется на указанную почту, в письме будет кнопка оплаты заказа на сайте Яндекс Кассы.</li>
<li>оплата наличными в нашем офисе (схема проезда), при получении оборудования выдается кассовый и товарный чеки;</li>
<li>оплата производится наличными курьеру, при получении оборудования выдается кассовый и товарный чеки.</li>

<h1>Доставка</h1>


<p>По Москве и МО:</p>

<p>Доставка по Москве и Московской области осуществляется в течение 1-3 рабочих дней.</p>

<p>Стоимость доставки по Москве (в пределах МКАД) - 300 руб.</p>

<p>Стоимость доставки по Московской области рассчитывается индивидуально, для каждого отдельного случая.</p>

<h1>Доставка по России:</h1>

<p>Наша Компания производит доставку геодезического оборудования по всей территории России транспортной компанией Dimex.</p>

<p>По желанию Заказчика, доставку можно осуществить любым другим грузоперевозчиком, после предоставления письма от Заказчика, выражающего данное желание.</p>

<p>Стоимость доставки в регионы рассчитывается при оформлении заказа, исходя из: габаритов, веса груза, региона доставки, условий доставки.</p>

<p>При оформлении заказа обязательно сообщайте: точный адрес доставки, контактный телефон, Ф.И.О. контактного лица.</p>


                          </div>
            </div>
     </div>
{% endblock %}